@model IEnumerable<Farmacia.Models.TB_MEDICAMENTOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Medicamentos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CANTIDAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRECIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRAMAJE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_PASTILLAS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOBLE_RECETA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRESENTACION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LABORATORIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NOMBRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DESCRIPCION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CANTIDAD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRECIO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GRAMAJE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TIPO_PASTILLAS)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DOBLE_RECETA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PRESENTACION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LABORATORIO)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
