@model IEnumerable<Farmacia.Models.TB_LABORATORIO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Laboratorios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contacto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CUIT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.direccion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.contacto)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.nombre.Trim() }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.nombre.Trim() }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.nombre.Trim() })
    </td>
</tr>
}

</table>
